.range-input::-webkit-slider-thumb {
  background-color: blue; /* For Chrome */
}
.range-input::-moz-range-thumb {
  background-color: blue; /* For Firefox */
}
.range-input::-ms-thumb {
  background-color: blue; /* For Edge */
}


.text-title{
  font-size:6px;
}
.text-xxs {
  font-size: 6px; /* Adjust the value as needed */
}