.range-input::-webkit-slider-thumb {
  background-color: blue; /* For Chrome */
}
.range-input::-moz-range-thumb {
  background-color: blue; /* For Firefox */
}
.range-input::-ms-thumb {
  background-color: blue; /* For Edge */
}